html, body {
    background-color: #24272e;
    font: caption;
}





#navigation-bar {
    text-align:center;
}

button.navigation-button {
    border: 0 solid;
    border-radius: 20vw;
    border-color: #111419;

    color: #666d77;
    font: caption;

    background-color: #111419;
    margin: auto;

    width: 10vw;
    height: 5vh;
    white-space: pre;
    font-size: 3vw;
}

#target-day {
    width: 20vw;
}






#lesson {
    margin-top: 1vh;
    background-color: #111419;
    border: 1vh solid;
    border-color: #111419;

    border-radius: 5vw;
    height: 15vh;
}

#lecture {
    margin-top: 1vh;
    background-color: #111419;
    border: 1vh solid;
    border-color: #3f3f95;
    border-radius: 5vw;
    height: 15vh;
}



#name {
    margin-left: 3vw;
    margin-top: 3vh;
    color: #f5f5f5;
    font-size: 3vh;
}

#time {
    margin-top: -3vh;
    margin-left: 3vw;
    color: #666d77;
    font-size: 2vh;
}

#room {
    text-align: right;
    margin-top: -8vh;
    margin-right: 3vw;
    text-decoration-line: underline;
    color: #666d77;
    font-style: italic;
    font: caption;
    font-size: 2vh;
}

#lecturer {
    text-align: right;
    margin-right: 3vw;
    margin-top: 5vh;
    color: #666d77;
    font-size: 2vh;
}




#lesson-details {
    background-color: #111419;
    border: 1vh solid;
    border-radius: 5vw;
}

#details-name {
    margin-left: 2vw;
    margin-top: 3vh;
    color: #f5f5f5;
    font-size: 3vh;
}

#details-type {
    color: #666d77;
    font-size: 2vh;
    margin-left: 0.75em;
    margin-top: -1em;

}

#details-room-name {
    color: #f5f5f5;
    font-size: 2vh;
    margin-left: 0.75em;
}

#details-room {
    color: #666d77;
    font-size: 2vh;
    margin-left: 0.75em;
    margin-top: 0em;
}

#details-lecturer-name {
    color: #f5f5f5;
    font-size: 2vh;
    margin-left: 0.75em;
}

#details-lecturer {
    color: #666d77;
    font-size: 2vh;
    margin-left: 0.75em;
    margin-top: 0em;
    margin-top: -0.5em;
}

#details-description-name {
    color: #f5f5f5;
    font-size: 2vh;
    margin-left: 0.75em;
}

#details-description {
    color: #666d77;
    font-size: 2vh;
    margin-top: 0em;
    margin-left: 0.75em;
}
