body {
    background-color: var(--tg-theme-bg-color);
}

#lesson {
    margin-top: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    border: 5px solid;
    border-radius: 20px;
    border-color: var(--tg-theme-secondary-bg-color);
}

#lecture {
    margin-top: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    border: 5px solid;
    border-radius: 20px;
    border-color: var(--tg-theme-button-color);
}

#name {
    margin-left: 10px;
    margin-top: 20px;
    color: var(--tg-theme-text-color);
    font: caption;
}

#room {
    text-align: right;
    margin-top: -34px;
    margin-right: 10px;
    text-decoration-line: underline;
    color: var(--tg-theme-hint-color);
    font-style: italic;
    font: caption;
}

#lecturer {
    text-align: right;
    margin-right: 10px;
    color: var(--tg-theme-hint-color);
    font: caption;
}

#time {
    margin-top: -34px;
    margin-left: 10px;
    color: var(--tg-theme-hint-color);
    font: caption;
}

#prev-day {
    border: 0px solid;
    border-radius: 20px;
    border-color: var(--tg-theme-secondary-bg-color);

    height: 30px;
    width: 30px;

    color: var(--tg-theme-hint-color);
    font: caption;

    background-color: var(--tg-theme-secondary-bg-color);
    margin: auto;
}

#next-day {
    border: 0px solid;
    border-radius: 20px;
    border-color: var(--tg-theme-secondary-bg-color);

    height: 30px;
    width: 30px;

    color: var(--tg-theme-hint-color);
    font: caption;

    background-color: var(--tg-theme-secondary-bg-color);
    margin: auto;
}

#target-day {
    border: 0px solid;
    border-radius: 20px;
    border-color: var(--tg-theme-secondary-bg-color);

    height: 30px;

    color: var(--tg-theme-hint-color);
    font: caption;

    background-color: var(--tg-theme-secondary-bg-color);
    margin: auto;

}

#navigation-bar {
    text-align:center;
}

#details-name {
    margin-left: 10px;
    color: var(--tg-theme-text-color);
    font: caption;
    font-size: 25px;
}

#details-room-name {
    color: var(--tg-theme-text-color);
    font: caption;
    font-size: 20px;
    margin-left: 10px;
}

#details-room {
    color: var(--tg-theme-hint-color);
    font: caption;
    font-size: 20px;
    margin-left: 120px;
    margin-top: -42.5px;
}

#details-lecturer-name {
    color: var(--tg-theme-text-color);
    font: caption;
    font-size: 20px;
    margin-left: 10px;
}

#details-lecturer {
    color: var(--tg-theme-hint-color);
    font: caption;
    font-size: 20px;
    margin-left: 170px;
    margin-top: -42.5px;
}

#details-description-name {
    color: var(--tg-theme-text-color);
    font: caption;
    font-size: 25px;
    margin-left: 10px;
}

#details-description {
    color: var(--tg-theme-hint-color);
    font: caption;
    font-size: 20px;
    margin-top: -10px;
    margin-left: 10px;
}

#details-type {
    color: var(--tg-theme-hint-color);
    font: caption;
    font-size: 20px;
    margin-left: 10px;

    margin-top: -15px;
}

#lesson-details {
    margin-top: 10px;
    background-color: var(--tg-theme-secondary-bg-color);
    border: 5px solid;
    border-radius: 20px;
}