body {
    background-color: #24272e;
}

#lesson {
    margin-top: 10px;
    background-color: #111419;
    border: 5px solid;
    border-radius: 20px;
    border-color: #111419;
}

#lecture {
    margin-top: 10px;
    background-color: #111419;
    border: 5px solid;
    border-radius: 20px;
    border-color: #3f3f95;
}

#name {
    margin-left: 10px;
    margin-top: 20px;
    color: #f5f5f5;
    font: caption;
}

#room {
    text-align: right;
    margin-top: -34px;
    margin-right: 10px;
    text-decoration-line: underline;
    color: #666d77;
    font-style: italic;
    font: caption;
}

#lecturer {
    text-align: right;
    margin-right: 10px;
    color: #666d77;
    font: caption;
}

#time {
    margin-top: -34px;
    margin-left: 10px;
    color: #666d77;
    font: caption;
}

#prev-day {
    background-color: #111419;
    border: 5px solid;
    border-radius: 20px;
    border-color: #111419;
    height: 30px;
    width: 30px;
    display: inline-block;
    white-space: nowrap;
    color: #666d77;
    font: caption;
}

#next-day {
    background-color: #111419;
    border: 5px solid;
    border-radius: 20px;
    border-color: #111419;
    height: 30px;
    width: 30px;
    display: inline-block;
    white-space: nowrap;
    color: #666d77;
    font: caption;
}

#target-day {
    background-color: #111419;
    border: 5px solid;
    border-radius: 20px;
    border-color: #111419;
    height: 30px;
    color: #666d77;
    font: caption;
}

#navigation {
    margin: auto;
    width: 50%;
}

#version {
    color: #666d77;
    font: caption;
    margin: auto;
    margin-top: 50px;
    width: 10%;
}